@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
html{
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@import "modules/variables";
@import "modules/mixins";
@import "modules/main";